<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>gallerino</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
        <style>
                body{
                    text-align: center;
                }
                img {


                }
        </style>
    </head>
    <body>
        <div class="col-md-12">
            <h1>Gallerino</h1>
            <h2>{{gallery.title}}</h2>
            <p><a href="{% url 'gallerino:image_upload' gallery_id=gallery.id %}">Upload more images</a></p>
            <p><a href="{% url 'gallerino:display_galleries' %}">Go to main page</a></p>
        </div>
        <div id="row">
            {% for post in posts %}
            <div class="col-md-4">
                <p>{{ post.description }}</p>
                <img src="{{ post.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
            </div>    
            {% endfor %}
        </div>
    </body>
</html>